
/* CSS BY HASAAN HAYNES */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS REST */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    --font-text: 'Playfair Display';
    }
    .grid {
        display: grid;
        gap: 2rem;
        padding: 3rem;
        margin: auto;
      }
      .gallery .grid {
        max-width: 100%;
        padding: 0;
      }
/* GLOBAL STYLES (mobile first/small) */
@media screen and (min-width: 428px){
    .grid {
        grid-template-columns: 1fr;
      }
      nav {
        display: flex;
        justify-content: center;
    }

}
/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
      }
      .basket{
        grid-column: span 2;
    }
    .gallery .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
      }
      .basket{
        grid-column: span 2;
    }
    .gallery .grid{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    }
}
/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
      }
      .basket{
        grid-column: span 2;
    }
    .gallery .grid{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    }
}
body{
font-family: var(--font-text);
}
.welcome{
    padding: 2rem;
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.header{
    padding: 2rem;
    background-color: var(--midnight-blue);
    text-align: center;
}
.header h1{
    font-size: 5rem;
    color: var(--soft-white);
    font-weight: bold;
}
.header p{
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-style:italic;
    padding: 2rem;
    color: var(--soft-white);
}
nav a{
    color: var(--dark-charcoal);
    text-decoration: none;
    font-size: 2rem;
}
nav ul{
    background-color: var(--champagne-gold);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

h1{
    font-family: var(--font-text);
    font-size: 3rem;
}
h2{
    font-family: var(--font-text);
    font-size: 2rem;
}
p{
    padding: 1rem;
}
.offerings{
        padding: 2rem;
        border-bottom: 2px solid var(--champagne-gold);
        padding-bottom: 2rem;
        margin-bottom: 2rem;
}
.artisan, .dining{
    background-color: var(--olive-green);
    padding: 2rem;
    width: 100%;
    height: 100%;
    color: var(--soft-white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.artisan h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.dining h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.basket{
    background-color: var(--olive-green);
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: var(--soft-white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    grid-column: span 2;
}
.basket h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.basket li{
    list-style: circle;
}
.gallery{
    border-bottom: 2px solid var(--champagne-gold);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.gallery h3{
    font-size: 2rem;
}
.image {
    background-color: var(--soft-white);
    border: 1px solid var(--linen);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 1rem;
    text-align: center;
    margin: 1rem;
  }
  
  .image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .image p {
    font-style: oblique;
    margin-top: 0.5rem;
    color: var(--dark-charcoal);
  }
  .view-gallery{
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    background-color: var(--olive-green);
    color: var(--soft-white);
    
  }
  .view-gallery a{
    text-decoration: none;
    color: inherit;
  }
  footer{
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--linen);
  }
  .address a, .socials{
    color: var(--champagne-gold);
    padding: 2rem;
  }